*{
    font-size: 18px;
    font-family: 'Inter';
    font-weight: bold;
    color: #000000;
    background: #fdac1f;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: 0 25px;
    border-bottom: 2px solid #000000;
}
.cabecalho > img{
    height: 1.4em;
    padding: 0.5em;
    cursor: pointer;
    fill: black;
    border-radius: 12px;
}
.cabecalho > P{
    font-family: 'Inter';
    font-weight: 400;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
.conteudo{
    display: flex;
    flex-direction: column;
}
.conteudo-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    border: #000000;
}
.texto-input{
    border: none;
    height: 280px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    background: none;
}
.texto-input:focus,input:focus, select:focus{
    border: 0 none;
    outline: 0;
}
.btna{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aviso{
    display: flex;
    padding: 0.5em;
}
.aviso > img{
    height: 12px;
}
.aviso > p{
    font-size: 10px;
    color: #1c440c;
    padding-left: 0.5em;
}
.botoes{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}
#encode, #decode, #copiar{
    width: 250px;
    height: 30px;
    background: #000000;
    border-radius: 24px;
    color: #CCCCCC;
}
#encode:hover, #decode:hover, #copiar:hover{
    opacity: 0.8;
}
.conteudo-direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffca1a;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    line-height: normal;
}
.resposta{
    border: 1px solid #000000;
    background: none;
    min-height: 70px;
    margin-top: 22px;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    resize:both;
    overflow: hidden;
}
.resposta:focus,input:focus, select:focus{
    border: 0 none;
    outline: 0;
}
#explicacao{
    background: none;
}
.img-lupa{
    display: none;
}
.img-direita{
    display: none;
    height: 350px;
}
#explicacao{
    padding: 32px;
    text-align: center;
}
.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.rodape > a{
    margin: 1em;
}
@media (min-width: 481px) and (max-width: 1024px) {
    .cabecalho{
        justify-content: space-between;
        margin: 0 50px;
    }
    .conteudo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .texto-input, .resposta{
        width: auto;
    }
    .conteudo-direita{
        width: 40%;
        justify-content: space-between;
    }
    .conteudo-direita, .conteudo-esquerda{
        height: 280px;
        width: 100%;
    }
    .botoes{
        display: flex;
        flex-direction: column;;
    }
    .img-direita{
        display: none;
    }
    
}
@media (min-width: 1025px){
    .cabecalho{
        margin: 0 100px;
    }
    .conteudo{
        flex-direction: row;
        justify-content: space-around;
    }
    .conteudo-direita, .conteudo-esquerda{
        margin-top: 20px;
        height: 750px;
        width: 80%;
        margin: 0 5%;
        justify-content: space-around;
    }
    .img-lupa{
        display: block;
    }
    .texto-input, .resposta{
        font-size: 1.5em;
        width: auto;
    }
    .aviso{
        margin-left: -15em;
    }
    .botoes{
        flex-direction: row;
    }
    #encode, #decode, #copiar{
        height: 60px;
    }
}