@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media (max-width: 600px) {
    section {
      display: block;
    }
  }
  
  @media (min-width: 601px) {
    section {
      display: inline-block;
    }
  }
  

*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
body{
    font-size: 100%;
    background: #E5E5E5;
}
.cabecalho{
    height: 122px;
    width: 100%;
    background: #CCCCCC;
}
.cabecalho-imagem{
    width: 31px;
    height: 44px;
    padding: 40px 84px 0;
}
.conteudo{
    display: flex;
    border-top: 2px solid #000000;

}
.conteudo-esquerda{
    border: 2px solid #000000;
    
}
.conteudo-esquerda-txt
.conteudo-esquerda-txt-textarea{
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
}
.conteudo-esquerda-ab
.conteudo-esquerda-ab-a

.conteudo-esquerda-ab-aviso{
}
.buttonEncode,
 .buttonCopiar,
  .buttonDecode,
   .buttonApagar {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    min-width: 328px;
    height: 67px;
    color: #E5E5E5;
    transition: 300ms all;
    background: #1b5192;
    border-radius: 24px;
}
.buttonEncode:hover,
 .buttonCopiar:hover,
  .buttonDecode:hover,
   .buttonApagar:hover {
background: #426fa7;
   }
.conteudo-direita{
    display:block;
    border: 2px solid red;

    position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}
.resposta
footer{
    align-items: center;
    text-align: center;
}