.coluna {
    display:inline-block;
    }
.linhas{
    display: grid;
    grid-template-rows: 20px 480px 00px 20px;
}
.linha2{
    align-items: center;
}
.h3{
    font-size: 40px;
    font-family:Arial;
    font-style: bolder;
    text-decoration: none;

}
#digiteTexto{
    position: absolute;    

    width: 300px;
    height: 48px;
    left: 100px;
    top: 120px;

    border: none;
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
        
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
#digiteTexto: :active{
    border: none;
}

.buttonEncode{

    align-items: center;
    justify-content: center;
    color: #dfe8f3;

    width: 250px;
    height: 60px;

    background: #00008B;
    border-radius: 24px;

    position: absolute;
    left: 30px;
    top: 515px;
}

.buttonDecode{

    align-items: center;
    justify-content: center;
    color: #000000;

    width: 250px;
    height: 60px;

    background: #b0b0f0;
    border-radius: 24px;

    position: absolute;
    left: 300px;
    top: 515px;
}

.buttonCopia{
    align-items: center;
    justify-content: center;
    color: #000000;

    width: 250px;
    height: 60px;

    background: #b0b0f0;
    border-radius: 24px;

    position: absolute;
    left: 670px;
    top: 515px;
}

.paragrafo-aviso{

width: 228px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

color: #495057;
opacity: 0.8;

position: absolute;
    left: 40px;
    top: 490px;
}

.retangulo1 {
    position: absolute;
    align-items:center;
    text-align: center;
    justify-content: center;

    width: 400px;
    height: 600px;
    left: 800px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-color: #00008B;
    border-radius: 32px;
}
.criador{
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}